{%extends "base.html"%}
{%block projectsactive%} active {%endblock projectsactive%}
{%block title%} Projects {%endblock title%}

{% block body%}

<div class="container my-3">
  <h2 class="text-center my-3 py-3">My Python Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/static/thumb6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Project 1</h5>
          <p class="card-text text-center">Click here to see my projects</p>
            <div class="text-center">
          <a href="#" class="btn btn-primary">Click for Demo</a>
        </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/static/thumb7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Project 2</h5>
          <p class="card-text text-center">Click here to see my projects</p>
          <div class="text-center">
          <a href="#" class="btn btn-primary">Click for Demo</a>
        </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/static/thumb8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Project 3</h5>
          <p class="card-text text-center">Click here to see my projects</p>
          <div class="text-center">
          <a href="#" class="btn btn-primary">Click for Demo</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

{% endblock body%}